<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find angle_ax12_model_pkg)/worlds/world.world"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find angle_ax12_model_pkg)/urdf/angle_robot_ax12.urdf.xacro'"/>

    <include file="$(find angle_ax12_model_pkg)/launch/angle_arm_ax12_load.launch"/>

    <node name="angle_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model angle_robot" />
    
    <node name="robot_state_publisher_angle_ax12" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
</launch>